@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-hero {
	background-image: url(./images/bg-hero-mobile.svg);
	background-color: #ebfbff;
	@apply object-cover;
}

@screen lg {
	.bg-hero {
		background-image: url(./images/bg-hero-desktop.svg);
		background-color: #ebfbff;
		@apply object-cover;
	}
}